
.matrix-selection-page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
  align-items: center;
  height: 50vh;
  margin: auto;

  .matrix-selection-page_wrapper_h1 {
    font-size: 100px;
    font-weight: normal;
    font-family: 'Cormorant', serif;
    color: #114257;
  }

  .matrix-selection-page_wrapper_h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: 'Cormorant', serif;
    color: #114257;
    margin-bottom: -50px;
  }

  .buttons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .buttons_wrapper-btn {
      max-width: 320px;
      height: 60px;
      background-color: #114257;
      background: -moz-linear-gradient(45deg, rgb(255, 231, 237) 0%, #f9dce1 25%, #bdbdf8 50%, #caeeec 75%, #caeeec 100%);
      background: -webkit-linear-gradient(45deg, rgb(255, 231, 237) 0%, #f9dce1 25%, #bdbdf8 50%, #caeeec 75%, #caeeec 100%);
      background: linear-gradient(45deg, rgb(255, 231, 237) 0%, #f9dce1 25%, #bdbdf8 50%, #caeeec 75%, #caeeec 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);

      &:hover {
        background: -moz-linear-gradient(45deg, rgb(255, 231, 237) 0%, #f9dce1 25%, #bdbdf8 50%, #caeeec 75%, #caeeec 100%);
        background: -webkit-linear-gradient(45deg, rgb(255, 231, 237) 0%, #f9dce1 25%, #bdbdf8 50%, #caeeec 75%, #caeeec 100%);
        background: linear-gradient(45deg, rgb(255, 231, 237) 0%, #caeeec 25%, #caeeec 50%, #bdbdf8 75%, #f9dce1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

      }
    }
  }

  .social-links_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 400px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 800px) {

  .matrix-selection-page_wrapper {
    gap: 35px;

    .matrix-selection-page_wrapper_h1 {
      font-size: 60px;
    }

    .matrix-selection-page_wrapper_h3 {
      font-size: 15px;
      margin-bottom: -30px;
    }

    .buttons_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .buttons_wrapper-btn {
        max-width: 250px;
        font-size: 12px;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .matrix-selection-page_wrapper {
    gap: 35px;
    width: 100%;

    .matrix-selection-page_wrapper_h1 {
      font-size: 40px;
    }
  }
}